.header {
    margin: 92px 24px 0px 24px;
    line-height: 1.35;
    width: 1052px;
    height: 105px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.menu {
    margin-left: 34px;
    display: flex;
    list-style: circle;
    gap: 32px;
}

.menu li {
    border-bottom: solid 1px;
    align-self: flex-start;
}

.menu .first {
    list-style: none;
    border-bottom: none;
}

.contacts {
    margin-right: 30px;
    width: 240px;
    display: flex;
    flex-direction: column;
}
.logo_container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.logo img {
    height: 105px;
}

.phone,
.email {
    border-bottom: solid 1px;
    align-self: flex-start;
}

.cover {
    padding: 91px 9px 13px 9px;
}

.lotos {
    background: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 744px;
}

.overlay {
    background: black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    position: absolute;
}

.lotos_text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;    
}

.lotos_title {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 44%;
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    height: 351px;
    width: 100%;
    grid-row-gap: 9px;
}



.lotos p {
    color: #ffffff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    white-space: pre;
    z-index: 1;
}

.lotos a {
    margin: 0px 58px 61px 0;
    width: 252px;
    background: transparent;
    border: solid #ffffff 1px;
    padding: 12px 30px;
    color: #ffffff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    z-index: 1;
}

.lots {
    margin: 163px 33px 33px;
    height: 682px;
    display: flex;
    flex-direction: column;
}

.lots__title {
    margin-left: 37px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__gallery {
    height: 554px;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.lot {
    position: relative;
    height: 554px;
    width: 328px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;  
}

.lot__1 {
    background: url('../images/card-lot-01.jpg');
    background-size: cover;  
}

.lot__2 {
    background: url('../images/card-lot-02.jpg');
    background-size: cover;
}

.lot__3 {
    background: url('../images/card-lot-03.jpg');
    background-size: cover;
}

.lot_text {
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 48px 35px 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lot h3 { 
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 2;
}

.lot p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    z-index: 2;
}

.lots a {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: solid 1px;
    margin: 29px 0px 2px 39px;
    align-self: start;
}



.about {
    margin-top: 177px;
    display: flex;
    flex-direction: row;
}

.logo__column {
    display: inline-flex;
    padding: 0px 45px 0px 70px;
    align-self: flex-start;
}

.circle {
    background: #000;
    border-radius: 50%;
    width: 237px;
    height: 237px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle .logo {
    width: 148px;
    height: 114px;
}

.about__column {
    margin-left: 25px;
    display: flex;
    width: 705px;
    padding-bottom: 1px;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.about__column h3 {   
    margin-top: 97px;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 12px;
}

.about__text p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.48px;
    align-self: flex-start;
}

footer {
    margin: 181px 58px 89px 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.35;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;    
}

.map a {
    border-bottom: solid 1px;
    align-self: center;
}

.map .first {
    border-bottom: none;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 46px;
}



